html{
  background: rgb(80,130,255);
  background: linear-gradient(270deg, rgba(80,130,255,1) 0%, rgba(69,179,225,1) 68%);
  font-family: 'Roboto', sans-serif;
}

/* a{
  text-decoration: none;
}
a:visited{
  color: black;
} */

.header-logo{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 5vmin;
}
